<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>ADMIN PAGE</h1>
<span><a href="home">Go to home page</a></span>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<h3>Registered users</h3>
<div>
    <table border="2">
        <tr align="center">
            <th>Id</th>
            <th>Username</th>
            <th>Country</th>
            <th>Region</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {{#users}}
            <tr align="center">
                <td>{{id}}</td>
                <td>{{username}}</td>
                <td>{{country}}</td>
                <td>{{region}}</td>
                <td><a href="/user/edit/{{id}}">edit</a></td>
                <td><a href="/user/delete/{{id}}">delete</a></td>
            </tr>
        {{/users}}
    </table>
</div>
</body>
</html>