<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            text-align: center;
            margin-top: 10%;
        }
    </style>
</head>
<body>
<h1>Hello, from CHI Software!</h1>
<h3>Who are you?</h3>
<span><a href="/userPage" style="margin-right: 5px;">User</a></span>
<span><a href="/adminPage" style="margin-left: 5px;">Admin</a></span>
</body>
</html>