<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        //<![CDATA[
        // array of possible countries in the same order as they appear in the country selection list
        var regionLists = new Array(2)
        regionLists["empty"] = ["Select a Region"];
        regionLists["USA"] = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississipi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"];

        regionLists["Canada"] = ["Alberta", "British Columbia", "Manitoba", "New Brunswick", "Newfoundland and Labrador", "Northwest Territories", "Nova Scotia", "Nunavut", "Ontario", "Prince Edward Island", "Quebec", "Saskatachewan", "Yukon"];
        function countryChange(selectObj) {
            var idx = selectObj.selectedIndex;
            var which = selectObj.options[idx].value;
            cList = regionLists[which];
            var cSelect = document.getElementById("region");
            var len=cSelect.options.length;
            while (cSelect.options.length > 0) {
                cSelect.remove(0);
            }
            var newOption;
            // create new options
            for (var i=0; i<cList.length; i++) {
                newOption = document.createElement("option");
                newOption.value = cList[i];  // assumes option string and value are the same
                newOption.text=cList[i];
                // add the new option
                try {
                    cSelect.add(newOption);
                }
                catch (e) {
                    cSelect.appendChild(newOption);
                }
            }
        }
    </script>
</head>
<body>
<h1>EDIT PAGE FOR {{user.username}}</h1>
<div>
    <form action="/user/{{user.id}}" method="post">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username">
        <br/>
        <label for="country"><b>Country</b></label>
        <select id="country" name="country" onchange="countryChange(this);">
            <option value="empty">Select a Country</option>
            <option value="USA">USA</option>
            <option value="Canada">Canada</option>
        </select>
        <br/>
        <label for="region"><b>Region</b></label>
        <select id="region" name="region">
            <option value="0">Select a Region</option>
        </select>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>